*{
  font-size: 18px;
}

.navbar{
  background-color: rgb(250, 235, 247);
  border: 2px dashed rgb(226, 133, 222);
}
main .container{
  background-color: rgb(250, 235, 247);
  border: 2px dashed rgb(226, 133, 222);
  box-shadow: 0px 2px 5px 3px rgba(255,105,255,0.4);
}
.texto_esquerda h5{
  font-size: 0.8rem;
}
.texto_esquerda h3{
  font-size: 2rem;
  font-weight: bold;
}
.texto_esquerda h4{
  font-size: 1.3rem;
}
.imagem_direita img{
  width: 100%;
}

.colunas_card{
  gap: 1rem;
}
.card{
  border: 2.5px dashed rgb(226, 133, 222);
  background-color: rgb(250, 235, 247);
  padding: 25px;
  gap: 2rem;
  box-shadow: 0px 2px 5px 3px rgba(255,105,255,0.4);
}

.card-img-top{
  width: 100%;
  height: 250px;
  border: 2px dashed rgb(226, 133, 222);
  border-radius: 10px;
}
.card-title{

}
.card-text{
  text-align: justify;
  font-size: 0.8rem;
  flex-grow: 1;
}
.card .btn{
  background-color: rgb(255, 189, 244);
  border: 2.5px dashed rgb(226, 133, 222);
  color: rgb(225, 0, 255);
  font-weight: bold;
}
.card .btn:hover{
  background-color: lightblue;
}

footer{
  background-color: rgb(250, 235, 247);
  border: 2px dashed rgb(226, 133, 222);
}
.rodape{
  gap: 5px;
}
.local h5{
  font-size: 1rem;
}
.local h6{
  font-size: 0.8rem;
}
.redes{
  gap: 5px;
}
.redes a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.redes a:hover{
  color: blueviolet;
}
.direitos span{
  font-size: 0.7rem;
}

@media(max-width: 480px){

}